<footer class="container-fluid footer">
    <div class="row company">
         <div class="col-6 company">
            <ul>
                <li><a href="/Nosotros">COMPAÑIA</a></li>
                    <li>Quienes somos</li>
                    <li>Sucursales</li>
                    <li>Trabaja con nosotros</li>
              </ul>
        </div>
  
         <div class="col-6 help">
            <ul>
                 <li><a href="/FAQ">PREGUNTAS FRECUENTES</a></li>
                    <li>Pagos</li>
                    <li>Envios</li>
                    <li>Devolucion</li>
           </ul>
        </div>
       </div>

        <div class="row pagos">
         <div class="col-12 metodos"style="font-size: 18px";>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-handshake-alt"></i>
            <a href="https://www.instagram.com"> <i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com"> <i class="fab fa-facebook"></i></a>
         </div>  
      </div>
  
  </footer>
  <script src="../javascripts/popper.js"></script>
    <script src="../javascripts/jquery.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/owl.carousel.min.js"></script>
    <script src="../javascripts/jquer.js"></script>
   
    
</body>
</html>
