<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="contenedor">
    <div class="row">
        <div class="div-detail col-12 col-lg-6">
            
        </div>
    </div>


</div>

<%-include('../partials/carousel') %>
<%- include('../partials/footer') %>