<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="registerBody">
   <h1 class="title-register">REGISTRATE</h1>
   <div class="registro">
      <form action="/users/register" method="POST" enctype="multipart/form-data">
         <div class="sub-inputs">
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding " for="nombre">TU NOMBRE </label>
                  <input class="col-12 register" type="text" name="nombre" id="nombre">
               </p>
            </div>
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding " for="apellido">TU APELLIDO </label>
                  <input class="col-12 register" type="text" name="apellido" id="apellido">
               </p>
            </div>
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding " for="nacimiento">FECHA DE NACIMIENTO </label>
                  <input class="col-12 date register" type="date" id="start" name="fecha">
               </p>
            </div>
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding" for="pais">PAIS DE RESIDENCIA</label>
                  <select class="col-12" name="pais">
                     <option value="AR"> Argentina</option>
                     <option value="BO">Bolivia</option>
                     <option value="BR">Brasil</option>
                     <option value="CL">Chile</option>
                     <option value="Colombia">Colombia</option>
                     <option value="EC">Ecuador</option>
                     <option value="MX">Mexico</option>
                     <option value="PY"> Paraguay</option>
                     <option value="UY"> Uruguay</option>
                     <option value="VZ">Venezuela</option>
                     <option value="OTH">Otros</option>
                  </select>
               </p>
            </div>
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding " for="ciudad">CIUDAD DE RESIDENCIA</label>
                  <input class="col-12 register" type="text" name="ciudad" id="ciudad">
               </p>
            </div>
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding" for="mail">CORREO ELECTRÓNICO</label>
                  <input class="col-12 register" type="email" name="mail" id="mail">
               </p>
            </div>
            <div class="row">
               <p class="form-register">
                  <label class="col-12 sinPadding" for="pass">CONTRASEÑA</label>
                  <input class="col-12 register" type="password" name="pass" id="pass">
               </p>
            </div>
            <div class="row">
               <p class="pAdd examinar">
                   <label class="col-12 examinar">SUBIR IMAGÉN</label>
                   <input class="col-12 examinar" type="file" name="avatar">
               </p>
           </div>
            <p>
               <label class="check-register" for="cond"><input type="checkbox" name="cond" id="cond"> He leido y acepto
                  los terminos y condiciones </label>
            </p>
         </div>
         <p class=>
            <label class="check-register" for="news"><input type="checkbox" name="news" id="news"> Me gustaria recibir
             el newsletter con las novedades de SportwearClub </label>
         </p>
         <button type="submit" class="boton-register">ENVIAR</button>
         <button type="reset" class="boton-register">BORRAR</button>
      </form>
   </div>
</div>
<div class="div-register">
   <p><a href="/"> ALGO QUE AÚN NO SE QUE :D</a></p>
</div>
<%- include('partials/footer') %>