<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="addBody">
    <h1 class="titleAdd">CREA UN PRODUCTO</h1>
    <form action="/productAdd" method="POST" enctype="multipart/form-data">
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Nombre del producto:</label class"col-12">
                <input class="col-12" type="text" name="productName">
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Precio del producto:</label>
                <input class="col-12" type="text" name="productPrice">
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Descripción del producto:</label>
                <textarea class="col-12" name="productDescription"></textarea>
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Color:</label>
                <select class="col-12" name="color">
                    <option value="1">Blanco</option>
                    <option value="2">Gris</option>
                    <option value="3">Azul</option>
                    <option value="4">Verde</option>
                    <option value="5">Rojo</option>
                    <option value="6">Amarillo</option>
                    <option value="7">Naranja</option>
                    <option value="8">Bordó</option>
                    <option value="9">Rosa</option>
                    <option value="10">Celeste</option>
                    <option value="11">Natural</option>
                    <option value="12">Fucsia</option>
                    <option value="13">Lila</option>
                    <option value="14">Mostaza</option>
                    <option value="15">Negro</option>
                </select>
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Talle:</label>
                <select class="col-12 add" name="size">
                    <option value="1">S - M - L - XL</option>
                    <option value="2">36 al 43</option>
                    <option value="3">No aplica</option>
                </select>
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Categoria:</label>
                <select class="col-12 add" name="category">
                    <option value="1">Mujer</option>
                    <option value="2">Hombre</option>
                    <option value="3">Niños</option>
                </select>
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Tipo de producto:</label>
                <select class="col-12 add" name="type">
                    <option value="1">Indumentaria</option>
                    <option value="2">Calzado</option>
                    <option value="3">Accesorios</option>
                </select>
            </p>
        </div>
        <div class="row">
            <p class="pAdd">
                <label class="col-12">Status:</label>
                <select class="col-12 add" name="status">
                    <option value="1">New</option>
                    <option value="2">Sale</option>
                    <option value="3">No aplica</option>
                </select>
            </p>
        </div>
        <div class="row">
            <p class="pAdd examinar">
                <label class="col-12 examinar">SUBIR IMAGÉN</label>
                <input class="col-12 examinar" type="file" name="avatar">
            </p>
        </div>
        <button class="botonAdd" type="submit">Crear producto</button>
    </form>
</div>

</body>
<%- include('partials/footer') %>