<div class="carousel-title">
    <h1>LO NUEVO</h1>
</div>
<div class="carousel-down">
    <div class="owl-carousel owl-theme">
        <% for (let index = 0; index < lastProducts.length; index++) {%>
        <div class="item">
            <a href="/products/detail/<%= lastProducts[index].id %> ">
                <img src="../../images/avatars/<%=lastProducts[index].avatar%>"
                alt=<%= lastProducts[index].name %> style="width:250px; height:220px;">
            </a>
            </div>
        <%}%> 

</div>
</div>