<div class="row">
  <div class="col-12">
    <p class="cuotas">ENVIO SIN CARGO EN TU COMPRA SUPERIOR A $1999 + 3 CUOTAS SIN INTERES</p>
  </div>
</div>
<header class="container-fluid nav1">
  <div class="row logo-over ">
    <div class="col-6 logo-img">
      <a href="/"><img src="../../images/recurso2.png" alt="logo" class="logo"></a>

    </div>
    <div class="col-6">
      <ul class="login">
 <% if (isLogged == true) { %>
        <li><img class="perfil" src="/images/avatarsUsers/<%=userLogged.avatar%>" width="40" style="border-radius: 100%;"><a href="/users/profile" style="text-transform: uppercase;"> <%= userLogged.first_name %>
          </a></li>
        <li><a href="/users/logout"><i class="far fa-paper-plane"></i> LOGOUT</a></li>

        <% } else { %>
        <li><a href="/users/login"><i class="fas fa-user"></i> LOGIN</a></li>
        <li><a href="/users/register"><i class="far fa-paper-plane"></i> REGISTRATE</a></li>
        <% } %>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-3 dropdown-bars">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/products/women">MUJERES</a>
          <a class="dropdown-item" href="/products/men">HOMBRESS</a>
          <a class="dropdown-item" href="/products/kids">NIÑOS</a>
          <a class="dropdown-item" href="/products/new">NUEVO</a>
          <a class="dropdown-item" href="/products/sale">SALE</a>
        </div>
      </div>
    </div>
    <ul class="col-sm-7 col-lg-7  nav-texto enlaces">
      <li><a href="/products/women">MUJERES</a></li>
      <li><a href="/products/men">HOMBRES</a></li>
      <li><a href="/products/kids">NIÑOS</a></li>
      <li><a href="/products/new">NUEVO</a></li>
      <li><a href="/products/sale">SALE</a></li>
    </ul>
    <nav class="col-9 col-sm-5 col-lg-5 search-bar">
      <form role="search" class="search-form">
        <label>
          <input type="search" class="search" />
        </label>
        <a class="shopping-cart" href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
      </form>
    </nav>

  </div>
</header>