<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="container-grow-box container-fluid justify-content-center bg-gr" id="main-container">
    <div class="text-center">
        <h1 class="error">ERROR</h1> 
        <h3>Oh No! No te pudimos registrar</h3>
        <img src="/images/accesorios.jpg' width=" 200px" alt="">
        <p class="text-center text-amarillo font-abel f-22">El email que ingresaste ya fue utilizado</p>
        <p class="text-center  font-abel">Puedes intentar  <a href="http://localhost:3000/users/login">Iniciar sesión</a> </p>
        <p class="text-center  font-abel">o intenta con otro email</p>
    </div>
</div>
<%- include('../partials/footer') %>