<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="container-grow-box container-fluid justify-content-center bg-gr" id="main-container">
    <div class="text-center">
        <h1 class="error">ERROR</h1> 
        <h2>EMAIL NO RECONOCIDO</h2> <br>
        <h3>Oh No! No has logrado ingresar </h3>
        <img src="/images/accesorios.jpg' width=" 200px" alt="">
        <p class="text-center text-amarillo font-abel f-22">El email que ingresaste no pudo ser verificado</p>
        <p class="text-center  font-abel">Puedes intentar <a href="http://localhost:3000/users/login">Iniciar sesión</a> nuevamente  </p>
        <p class="text-center  font-abel">Suerte!!</p>
    </div>
</div>
<%- include('../partials/footer') %>